<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

    <meta charset="UTF-8">
    <title>Add Account</title>
</head>

<body>
<!--/*@thymesVar id="account" type="be.annelyse.budget.model.Account"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${account}" method="post">
                <input type="hidden" th:field="*{id}"/>

                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Edit Account</h1>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Name:</label>
                                    <input type="text" class="form-control" th:field="*{name}"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Number:</label>
                                    <input type="text" class="form-control" th:field="*{number}"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Description:</label>
                                    <input type="text" class="form-control" th:field="*{description}"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Active:</label>
                                    <input type="checkbox" value="" th:field="*{active}"/>
                                </div>
                            </div>

                            <div class="row">
<!-- todo dit is hier bijlange nog niet in orde en geeft ook errors
we zouden hier ergens moeten implementeren dat er ook nog - geen currency selected of nieuwe currency in te geven staat
hij savet onze nieuwekeuze ook niet
-->
                                <div class="col-md-3 form-group">
                                    <label>Currency:</label>
                                    <select class="form-control" th:field="*{currency}">
                                        <option th:each="currency : ${currenciesToChoose}"
                                                th:value="${currency}"
                                                th:selected="${account.currency}"
                                                th:text="${currency}">Currency
                                        </option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>