<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Accounts</title>
</head>
<body>
<!--/*@thymesVar id="account" type="be.annelyse.budget.model.Account"*/-->

<h2 th:text="'List of Accounts'">List of Accounts</h2>


<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>AccountName</th>
        <th>AccountNumber</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="account : ${accounts}">  <!-- thymeleaf iterator -->
        <td th:text="${account?.id}">default value Account ID</td>
        <td th:text="${account?.name}">default value Account Name</td>
        <td th:text="${account?.number}">default value Account Number</td>
    </tr>
    </tbody>
</table>

</body>
</html>